<h3>Edit Lesson</h3>
<div class="row">
    <form action="/lessons/{{lesson._id}}" method="post" enctype="multipart/form-data" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{lesson.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Body</h5>
                <textarea id="body" name="body">{{lesson.body}}</textarea>
            </div>
        </div>

        <div class = "file-field row">
         <div class = "btn">
           <span>Files</span>
           <input name="files" type = "file" multiple />
         </div>
         <div class = "file-path-wrapper">
           <input class = "file-path validate" type = "text"
           placeholder = "New files" />
         </div>
       </div>
       <div class="row">
           <div class="input-field">
               <select id="delfiles" name="delfiles" multiple>
                 {{#each lesson.files}}
                   <option value="{{filename}}" selected>{{filename}}</option>
                 {{/each}}
               </select>
               <label for="delfiles">Files to delete</label>
           </div>
       </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
